.container{
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.container input{
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.footer{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.footer div{
    margin-right: 5rem;
    margin-top: 1rem;
}
.iconStyle{
    position: absolute;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: -2rem;
}